<!DOCTYPE html>
<html lang="pt-BR"
    xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: baseHead}"></head>
<body>
    <header th:replace="~{base :: baseHeaderPage}"></header>
    <main>
        <div class="containerListaPet">
    <div class="layout-contentListaPet">
      <div class="headerListaPet">
        <p class="titleListaPet">Encontre seu novo amigo!</p>
      </div>

      <div class="search-boxListaPet">
        <label class="search-labelListaPet">
          <div class="search-input-wrapperListaPet">
            <div class="search-iconListaPet">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path>
              </svg>
            </div>
            <input
              placeholder="Procure pets por nome, raça ou espécie"
              class="search-inputListaPet"
              value=""
            />
          </div>
        </label>
      </div>

      <div class="filter-buttonsListaPet">
        <button class="filter-btnListaPet">
          <p>Cachorros</p>
          <div class="caret-iconListaPet">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
              <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
            </svg>
          </div>
        </button>
        <button class="filter-btnListaPet">
            <p>Gatos</p>
            <div class="caret-iconListaPet">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
              <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
            </svg>
            </div>
        </button>
        <button class="filter-btnListaPet"><p>Animais Pequenos</p><div class="caret-iconListaPet"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
              <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
            </svg></div></button>
        <button class="filter-btnListaPet"><p>Pássaros</p><div class="caret-iconListaPet"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
              <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
            </svg></div></button>
        </div>

      <div class="paginationListaPet">
        <a href="#" class="nav-btnListaPet"><div class="caret-leftListaPet"><svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
                    </svg></div></a>
        <a class="pageListaPet" href="#">1</a>
        <a class="pageListaPet" href="#">2</a>
        <a class="pageListaPet" href="#">3</a>
        <a class="pageListaPet" href="#">4</a>
        <a class="pageListaPet" href="#">5</a>
        <a href="#" class="nav-btnListaPet"><div class="caret-rightListaPet"><svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
                    </svg></div></a>
      </div>
    </div>
  </div>
    </main>
    <footer th:replace="~{base :: BaseFooterPage}"></footer>
</body>
</html>