<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>MeuPetIdeal</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1 th:text="#{titulo.pagina}">MeuPetIdeal</h1>-->

<!--<table border="1">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th th:text="#{pet.id}">ID</th>-->
<!--        <th th:text="#{pet.nome}">Nome</th>-->
<!--        <th th:text="#{pet.raca}">Raça</th>-->
<!--        <th th:text="#{pet.idade}">Idade</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="pet : ${pets}">-->
<!--        <td th:text="${pet.id}">1</td>-->
<!--        <td th:text="${pet.nome}">Rex</td>-->
<!--        <td th:text="${pet.raca}">Labrador</td>-->
<!--        <td th:text="${pet.idade}">5</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->