/* Fonte padrão */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: #ffdaa4;
    color: #333;
}

/* Containers gerais */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Header */
.header {
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.nav-menu a {
    margin-left: 20px;
    text-decoration: none;
    color: #555;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #f57c00;
}

.logo img{
    
    height: 80px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.tituloSiteHeader{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg, #F9A825, #FFD54F);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    font-size: 2.5rem; 
    margin: 0; 
}

/* Footer */
.footer {
    background: #222;
    color: #ccc;
    padding: 50px 0 20px 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.footer-logo img {
    background: floralwhite;
    height: 40px;
    margin-bottom: 10px;
}

.footer-logo p {
    color: #aaa;
}

.footer h3 {
    margin-bottom: 15px;
    color: #fff;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 8px;
}

.footer ul li a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s;
}

.footer ul li a:hover {
    color: #fff;
}

/* Rodapé final */
.footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-bottom p {
    margin-bottom: 15px;
    color: #777;
}

.footer-bottom a {
    color: #ff9800;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links a {
    color: #aaa;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #fff;
}