.containerListaPet {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
}

.layout-contentListaPet {
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerListaPet {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.titleListaPet {
  color: #131712;
  font-size: 32px;
  font-weight: bold;
}

.search-boxListaPet {
  padding: 12px 16px;
}

.search-labelListaPet {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 48px;
}

.search-input-wrapperListaPet {
  display: flex;
  width: 100%;
  align-items: center;
  background: #f1f4f1;
  border-radius: 8px;
}

.search-iconListaPet {
  color: #6d8566;
  padding-left: 12px;
}

.search-inputListaPet {
  flex: 1;
  border: none;
  background: #f1f4f1;
  padding: 0 12px;
  font-size: 16px;
  color: #131712;
}

.search-input:focusListaPet {
  outline: none;
}

.filter-buttonsListaPet {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 12px;
}

.filter-btnListaPet {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f1f4f1;
  border-radius: 8px;
  padding: 4px 12px;
  border: none;
  cursor: pointer;
}

.filter-btnListaPet p {
  color: #131712;
  font-size: 14px;
  font-weight: 500;
}

.pet-gridListaPet {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
  gap: 12px;
  padding: 16px;
}

.pet-cardListaPet {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 12px;
}

.pet-imageListaPet {
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.pet-nameListaPet {
  font-size: 16px;
  font-weight: 500;
  color: #131712;
}

.pet-infoListaPet {
  font-size: 14px;
  color: #6d8566;
}

.paginationListaPet {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 16px;
}

.pageListaPet {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #131712;
  text-decoration: none;
}

.page.activeListaPet {
  background: #f1f4f1;
  font-weight: bold;
}

.nav-btnListaPet {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.botaoDeletarlistaDePet{
display:inline-block; 
padding:8px 12px; 
background-color:red; 
color:white; 
border-radius:5px; 
text-decoration:none;
}

.botaoEditarlistaDePet{
display:inline-block; 
padding:8px 12px; 
background-color:rgb(255, 196, 70); 
color:white; 
border-radius:5px; 
text-decoration:none;
}
